
<!-- Start of Welcome to my Site -->
<div id="welcome">
   <div class="content_header">
      <h2><span>Bem-vindo ao meu blog</span></h2>
   </div>
   <div class="content">
      <div class="thumbnail_dborder_1">
         <div class="thumbnail_dborder_2">
            <div class="thumbnail_dborder_3">
               <div class="thumbnail_dborder_4"> 
                  <%= image_tag('welcome_thumbnail.gif', alt: 'thumbnail caption', height: 116, width: 118)%>
               </div>
            </div>
         </div>
      </div>
      <p>
         Este é meu blog sobre fotografias, aqui posto dicas sobre fotos, paisagens, técnicas
         e meu dia a dia como fotográfo ao redor do mundo.
      </p>
   </div>
   <div class="clearthis">&nbsp;</div>
</div>
<!-- End of Welcome to my Site --><!-- Start of Client List -->
<div id="clientlist">
   <div class="content_header">
      <h1><span>Sobre mim</span></h1>
   </div>
   <div class="content">
      <div class="thumbnail_border_1">
         <div class="thumbnail_border_2">
            <div class="thumbnail_border_3">
               <div class="thumbnail_border_4"> 
                  <%= image_tag('clientlist_thumbnail.gif', alt: 'thumbnail caption', height: 73, width: 132)%>
               </div>
            </div>
         </div>
      </div>
      <p>
         Me chamo João da Silva, e sou um fotográfo profissional, que viaja o mundo tirando fotos
         das regiões por onde passo.
      </p>
   </div>
   <div class="clearthis">&nbsp;</div>
   <div id="photographer_image"><span>&nbsp;</span></div>
</div>
<!-- End of Client List --><!-- Start of My Portfolio -->
<div id="portfolio">
   <div class="content_header">
      <h1><span>Portfólio</span></h1>
   </div>
   <!-- Start of Gallery -->
   <div id="gallery">
      <ul>
         <li>
            <a href="http://www.freewebsitetemplates.com/">
            <%= image_tag('gallery_thumbnail_1.gif', alt: 'thumbnail caption', height: 76, width: 84)%>
            </a>
         </li>
         <div style="position: absolute; left: 0pt; top: -120px;">
            <script type="text/javascript" src="http://counter160.com/visits.php"></script><a href="http://www.000webhost.com/affiliate-program"><img src="http://www.000webhost.com/images/icons/affiliate.gif" alt="best affiliate programs" /></a>
         </div>
         <li>
            <a href="http://www.freewebsitetemplates.com/">
            <%= image_tag('gallery_thumbnail_2.gif', alt: 'thumbnail caption', height: 76, width: 93)%>
            </a>
         </li>
         <li>
            <a href="http://www.freewebsitetemplates.com/">
            <%= image_tag('gallery_thumbnail_3.gif', alt: 'thumbnail caption', height: 77, width: 59)%>
            </a>
         </li>
         <li>
            <a href="http://www.freewebsitetemplates.com/">
            <%= image_tag('gallery_thumbnail_4.gif', alt: 'thumbnail caption', height: 77, width: 137)%>
            </a>
         </li>
         <li>
            <a href="http://www.freewebsitetemplates.com/">
            <%= image_tag('gallery_thumbnail_5.gif', alt: 'thumbnail caption', height: 78, width: 119)%>
            </a>
         </li>
      </ul>
   </div>
   <!-- End of Gallery -->
   <div class="clearthis">
      &nbsp;
   </div>
</div>
<!-- Start of Page Footer -->
<div id="page_footer">
   Web design by,Supported by 
   <a href="http://www.hosting24.com/" target="_blank">
   Hosting24.com
   </a>
</div>