<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
