<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="body_wrapper">
      <div id="container">
        <!-- Start of Page Header -->
        <div id="page_header">
          <h1><span>Photos Site</span></h1>
        </div>
        <!-- End of Page Header --><!-- Start of Navigational Menu -->
        <div id="nav_menu">
          <ul>
              <li id="menu1">
                <%= link_to root_path do %>
                  <span>Página inicial</span>
                <% end %>
              </li>

              <li id="menu2">
                <%= link_to posts_path do %>
                  <span>Posts</span>
                <% end %>
              </li>
          </ul>
          <div class="clearthis">&nbsp;</div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
